*{
    /*box-sizing: border-box;*/
    margin: 0;
    padding: 0;
    
}
/*
html, body{
    height: 100%;
    width: 100%;
    display: flex;
}*/
/*
canvas{
    /*height: 100vh;*/
    /*position: fixed;*/
    /*z-index: -10;*/
    /*overflow: hidden;*/
    /*
}
*/
.background-holder{
    background-image: url(./img/rocket-1245696.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Teko', sans-serif;

    animation-name: scrollHint;
    animation-duration: 4s;
    animation-delay: 1.8s;
}

.background-holder h1{
    font-size: 2.8rem;
}

.background-holder p{
    font-size: 2rem;
}

.navbar{
    background-color: peru;
    width: 100%;
}

.fixNavbarToTop{
    position: fixed;
    top: 0;
}

.card-holder{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.card{
    margin: 0.5rem;
    transition: 0.4s;
    box-shadow: 0 0.2rem 0.6rem 0;
    background-color: white;
}
.card img{
    height: 12rem;
}

.card:hover{
    box-shadow: 0 0.5rem 1rem 0;
}

footer{
    background-image: url(./img/rocket-1245696.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: white;
    height: 14rem;
}

@keyframes scrollHint{
    0% {height: 100vh;}
    67% {height: 90vh;}
    100% {height: 100vh;}
}
/*
@keyframes nameZoom{
    from {}
}*/